body{
	background: var(--primary-color);
    color: var(--secondary-color);
    font-family: 'Ubuntu', 'Roboto', sans-serif;
}

[data-mode="light"]{
    --attachment-color: #1b207d;
    --primary-color: #f0f0ed;
    --secondary-color: #1c1c1a;
    --facebook-icon: url("../img/facebook_dark.png");
    --instagram-icon: url("../img/instagram_dark.png");
    --youtube-icon: url("../img/youtube_dark.png");
    --pinterest-icon: url("../img/pinterest_dark.png");
    --mail-icon: url("../img/mail_dark.png");
}
[data-mode="dark"]{
    --attachment-color: #7ab8ff;
    --primary-color: #1c1c1a;
    --secondary-color: #f0f0ed;
    --facebook-icon: url("../img/facebook_light.png");
    --instagram-icon: url("../img/instagram_light.png");
    --youtube-icon: url("../img/youtube_light.png");
    --pinterest-icon: url("../img/pinterest_light.png");
    --mail-icon: url("../img/mail_light.png");
}

#container{
    margin: auto;
    width: 1200px;
    height: 800px;
    background: var(--primary-color);
}

#header{
    height: 50px;
    width: 100%;
    border-bottom: 3px solid var(--secondary-color);
}

#light_icon{
    width: 50px;
    height: 50px;
    cursor: pointer;
    float: left;
    color: var(--secondary-color);
    background-color: var(--primary-color);
    border: 3px solid var(--secondary-color);
    border-radius: 35px;
}

#middle_header{
    width: 920px;
    float: left;
    font-size: 35px;
    text-align: center;
    padding: 0px 5px 5px 60px;
}

#right_side_header{
    border-left: 3px dotted var(--secondary-color);
    float: left;
    padding-left: 20px;
}

#content{
    padding-top: 15px;
    float: left;
    width: 865px;
    margin-left: 135px;
    height: 740px;
    text-align: center;
}

#sidebar{
    border-left: 3px dotted var(--secondary-color); 
    float: left;
    width: 160px;
    margin-left: 35px;
    height: 740px;
    text-align: center;
    padding-top: 25px;
}

img{
    margin-top: 15px;
    width: 100px;
    height: 100px;
}
.logo{
    margin-top: 10px;
    width: 100px;
    height: 100px;
    margin-left: 30px;
}
#facebook_icon{
    background: var(--facebook-icon);
    background-size: 100px 100px;
}

#instagram_icon{
    background: var(--instagram-icon);
    background-size: 100px 100px;
}
#youtube_icon{
    background: var(--youtube-icon);
    background-size: 100px 100px;
}
#pinterest_icon{
    background: var(--pinterest-icon);
    background-size: 100px 100px;
}
#mail_icon{
    background: var(--mail-icon);
    background-size: 100px 100px;
}
#footer{
    border-top: 3px solid var(--secondary-color);
    width: 100%;
    height: 50px;
    text-align: center;
}
a{
    font-size: 25px;
    font-weight: 900;
    text-decoration: none;
    color: var(--attachment-color);
}
.title{
    font-size: 30px;
    font-weight: 900;
    color: var(--secondary-color);
}
.secondary_title{
    font-size: 20px;
    font-weight: 900;
    text-decoration: none;
    color: var(--attachment-color);
}