body{
	background: var(--primary-color);
    color: var(--secondary-color);
    font-family: 'Ubuntu', 'Roboto', sans-serif;
}

[data-mode="light"]{
    --attachment-color: #1b207d;
    --primary-color: #f0f0ed;
    --secondary-color: #1c1c1a;
    --facebook-icon: url("../img/facebook_dark.png");
    --instagram-icon: url("../img/instagram_dark.png");
    --youtube-icon: url("../img/youtube_dark.png");
    --pinterest-icon: url("../img/pinterest_dark.png");
    --mail-icon: url("../img/mail_dark.png");
    --header-bg: url("../img/header_background1.jpg");
    --hover-effect: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(255,255,255,1) 25%, rgba(255,255,255,1) 75%, rgba(0,0,0,1) 100%);
}
[data-mode="dark"]{
    --attachment-color: #7ab8ff;
    --primary-color: #111212;
    --secondary-color: #f0f0ed;
    --facebook-icon: url("../img/facebook_light.png");
    --instagram-icon: url("../img/instagram_light.png");
    --youtube-icon: url("../img/youtube_light.png");
    --pinterest-icon: url("../img/pinterest_light.png");
    --mail-icon: url("../img/mail_light.png");
    --header-bg: url("../img/header_background0.jpg");
    --hover-effect: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(0,0,0,1) 25%, rgba(0,0,0,1) 75%, rgba(255,255,255,1) 100%);
}

#container{
    margin: auto;
    width: 1200px;
    height: 800px;
    background: var(--primary-color);
}

#header{
    height: 50px;
    width: 100%;
    border-bottom-left-radius: 35px;
    border-bottom: 3px solid var(--secondary-color);
    background: var(--header-bg);
}

#light_icon{
    width: 50px;
    height: 50px;
    cursor: pointer;
    float: left;
    color: var(--secondary-color);
    background-color: var(--primary-color);
    border: 3px solid var(--secondary-color);
    border-radius: 35px;
}

#middle_header{
    width: 895px;
    float: left;
    font-size: 35px;
    text-align: center;
    padding: 0px 5px 5px 60px;
}

#right_side_header{
    border-left: 3px dotted var(--secondary-color);
    float: left;
    padding-left: 19px;
}
#files_bar{
    float: left;
    width: 115px;
    height: 760px;
    background: var(--primary-color);
    border-right: 3px dotted var(--secondary-color);
}
.files_bar_item{
    padding-top: 25px;
    height: 40px;
    text-align: center;
    background: var(--primary-color);
    border-bottom-right-radius: 30px;
    border-bottom: 3px solid var(--secondary-color);
}
    
.files_bar_item:hover{

    background: var(--hover-effect);
}
#content{
    padding-top: 15px;
    float: left;
    width: 900px;
    height: 740px;
    text-align: center;
}

#sidebar{
    border-left: 3px dotted var(--secondary-color); 
    float: left;
    width: 130px;
    margin-left: 18px;
    height: 740px;
    text-align: center;
    padding: 25px 0px 0px 0px;
}

img{
    margin: 15px 0px 0px 0px;
    width: 100px;
    height: 100px;
}
.logo{
    margin-top: 10px;
    width: 100px;
    height: 100px;
    margin-left: 30px;
}
#facebook_icon{
    background: var(--facebook-icon);
    background-size: 100px 100px;
}

#instagram_icon{
    background: var(--instagram-icon);
    background-size: 100px 100px;
}
#youtube_icon{
    background: var(--youtube-icon);
    background-size: 100px 100px;
}
#pinterest_icon{
    background: var(--pinterest-icon);
    background-size: 100px 100px;
}
#mail_icon{
    background: var(--mail-icon);
    background-size: 100px 100px;
}
#footer{
    border-top: 3px solid var(--secondary-color);
    width: 100%;
    height: 50px;
    text-align: center;
}
a{
    font-size: 25px;
    font-weight: 900;
    text-decoration: none;
    color: var(--attachment-color);
}
.title{
    margin-left: 25px;
    font-size: 30px;
    font-weight: 900;
    color: var(--secondary-color);
}
.secondary_title{
    margin-left: 35px;
    font-size: 20px;
    font-weight: 900;
    text-decoration: none;
    color: var(--attachment-color);
}
#button_text{
    font-weight: 900;
    font-size: 10px;
}
.article_title{
    font-size: 30px;
    height: 50px;
    border-bottom-left-radius: 30px;
    border-bottom: 3px dotted var(--secondary-color);
}
.article_content{
    text-indent: 20px;
    text-align: left;
    margin-top: 20px;
}
a.file_attachment{
    text-decoration: none;
    font-size: 18px;
	cursor: pointer;
}